[user]
	name = "Jinsuke"
	email = jnsk@jnsk.info
	signingkey = F57320673CF64059
[core]
	editor = emacs

[commit]
	gpgsign = true

[gpg]
	program = gpg

[alias]
	cloner = "clone --recursive"

[color]
	ui = auto
