[submodule "site-lisp"]
	path = site-lisp
	url = https://github.com/hamano/locale-eaw
[submodule "el-get"]
	path = el-get
	url = https://github.com/dimitri/el-get.git
[submodule "themes"]
	path = themes
	url = https://github.com/dracula/emacs.git
